.hui-body
  .g-item-breadcrumb-container
    display inline-block
    padding-right 10px
    user-select text

    ol.breadcrumb
      background none

  .h-slide-counter
    display inline-block
    padding 0 10px
    color #666
    font-size 14px
